.q-drawer {
  background-color: transparent;
}

.q-drawer--left {
  left: var(--offset-left, 0);
}

.q-drawer--right {
  right: var(--offset-right, 0);
}

.drawer-menu {
  padding-top: 190px;
  padding-right: 46px;

  &.back {
    padding-top: 60px;
  }
}
