// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #9B9BC1;
$secondary: #14142E;
$tertiary: #ED2977;
$accent: #6B6B84;
$accent-2: #7C4496;
$accent-3: #898997;
$accent-4: #9797A9;
$accent-5: #9494B9;
$alternative: #313150;
$alternative-2: #23223B;
$alternative-3: #303046;

$white: #fff;
$transparent-white: transparentize($white, 0.85);
$quart-transparent-white: transparentize($white, 0.7);
$half-transparent-white: transparentize($white, 0.5);
$quart-transparent-white: transparentize($white, 0.75);
$full-transparent-white: transparentize($white, 0.9);
$full-transparent-dark: rgba(255, 255, 255, 0.1);
$dark: #1D1D1D;

$transparent-secondary: transparentize($secondary, 0.3);

$accent-linear-gradient: linear-gradient(0deg, $accent, $accent), rgba(255, 255, 255, 0.2);
$alternative-linear-gradient: linear-gradient(0deg, $alternative, $alternative), $white;
$alternative-3-linear-gradient: linear-gradient(0deg, $alternative-3, $alternative-3), transparentize($white, 0.8);

$gray: #CACACA;
$gray2: #706E7C;
$gray3: #93939F;
$transparent-gray: transparentize($gray, 0.85);
$transparent-gray2: transparentize($gray2, 0.85);

$positive: #11B521;
$negative: #96446B;
$info: #67BAB0;
$warning: #F2C037;

$input-font-size: 16px !default;
$input-text-color: inherit !default;
$input-label-color: inherit !default;

$generic-border-radius: 20px !default;

$button-rounded-border-radius: 25px !default;
$button-border-radius: 20px !default;

$input-font-size                : 16px !default;
$input-text-color               : $half-transparent-white !default;
$input-label-color              : $half-transparent-white !default;
$input-autofill-color           : inherit !default;

$container: 1226px;
$container-center: 508px;

$secondary-box-shadow: 0px 0px 20px 20px transparentize($secondary, 0.5);
$full-secondary-box-shadow: 0px 0px 20px $secondary;
$black-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);

$h1: (size: 6rem, line-height: 6rem, letter-spacing: normal, weight: 300) !default;
$h2: (size: 38px, line-height: 48px, letter-spacing: normal, weight: 400) !default;
$h3: (size: 36px,  line-height: 46px, letter-spacing: normal, weight: 400) !default;
$h4: (size: 18px, line-height: 23px, letter-spacing: normal, weight: 400) !default;
$h5: (size: 15px, line-height: 19px, letter-spacing: normal, weight: 400) !default;
$h6: (size: 12px, line-height: 15px, letter-spacing: normal,  weight: 400) !default;
$body-extra-large: (size: 27px, line-height: 48px, letter-spacing: normal, weight: 400) !default;
$body-large: (size: 24px, line-height: 30px, letter-spacing: normal, weight: 400) !default;
$body1: (size: 20px, line-height: 25px, letter-spacing: normal, weight: 400) !default;
$body2: (size: 14px, line-height: 18px, letter-spacing: normal, weight: 400) !default;
$body3: (size: 9px, line-height: 11px, letter-spacing: normal, weight: 400) !default;
$body4: (size: 10px, line-height: 12px, letter-spacing: normal, weight: 400) !default;
$body5: (size: 32px, line-height: 40px, letter-spacing: normal, weight: 400) !default;
$body6: (size: 8px, line-height: 10px, letter-spacing: normal, weight: 400) !default;
$subtitle1: (size: 21px, line-height: 27px, letter-spacing: normal, weight: 400) !default;
$subtitle2: (size: 16px, line-height: 20px, letter-spacing: normal, weight: 400) !default;
$overline: (size: 13px, line-height: 16px, letter-spacing: normal, weight: 400) !default;
$overline-2: (size: 13px, line-height: 24px, letter-spacing: normal, weight: 400) !default;
$caption: (size: 11px, line-height: 12px, letter-spacing: normal, weight: 400) !default;

$headings: ('h1': $h1, 'h2': $h2, 'h3': $h3, 'h4': $h4, 'h5': $h5, 'h6': $h6, 'subtitle1': $subtitle1, 'subtitle2': $subtitle2, 'body1': $body1, 'body2': $body2, 'body3': $body3, 'body4': $body4, 'body5': $body5, 'body6': $body6, 'body-large': $body-large, 'body-extra-large': $body-extra-large, 'overline': $overline,'overline-2': $overline-2, 'caption': $caption) !default;

$typography-font-family: Circular Std, 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !default
